p {
	font-size: 16px;
},
a {
	font-family: 'Arial';
	font-weight: bold;"
},
input[type=checkbox], input[type=radio] {
    vertical-align: middle;
    position: relative;
    bottom: 1px;
}
input[type=radio] {
    bottom: 2px;
}